* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f7f7fc;
    color: #17182b;
}


/* =========================
   NAVBAR
========================= */

.navbar {
    height: 70px;
    background: #101426;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 60px;

    color: white;
}


.logo {
    display: flex;
    align-items: center;

    font-size: 22px;
    font-weight: bold;
}


.logo-icon {
    color: #a875ff;
    margin-right: 10px;
    font-size: 28px;
}


.nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
}


.nav-menu a {
    color: #c9cad5;
    text-decoration: none;

    font-size: 14px;
}


.nav-menu a.active {
    color: white;
    border-bottom: 2px solid #8c5cf6;

    padding-bottom: 6px;
}


/* SEARCH */

.search-box {
    width: 220px;
    height: 38px;

    border-radius: 20px;

    background: #20263b;

    display: flex;
    align-items: center;

    padding: 0 15px;

    color: #aaa;
}


.search-box input {
    width: 100%;

    border: none;
    outline: none;

    background: transparent;

    color: white;

    margin-left: 8px;
}


/* PROFILE */

.profile {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
}


/* =========================
   MAIN
========================= */

.container {
    max-width: 1200px;

    margin: 40px auto;

    padding: 0 30px;
}


/* =========================
   MOOD HEADER
========================= */

.mood-header {
    display: flex;
    align-items: center;

    gap: 20px;

    padding: 30px;

    border-radius: 18px;

    background: linear-gradient(
        135deg,
        #fff0bd,
        #e8dcff
    );

    margin-bottom: 45px;
}


.mood-icon {
    width: 75px;
    height: 75px;

    border-radius: 50%;

    background: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 40px;
}


.small-title {
    font-size: 12px;

    color: #777;

    letter-spacing: 1.5px;

    margin-bottom: 8px;
}


.mood-header h1 {
    font-size: 28px;

    margin-bottom: 8px;
}


.mood-header p {
    color: #666;
}


/* =========================
   SECTION TITLE
========================= */

.section-title {
    display: flex;

    justify-content: space-between;

    align-items: end;

    margin-bottom: 25px;
}


.section-title h2 {
    font-size: 25px;
}


.section-title a {
    color: #7850e8;

    text-decoration: none;

    font-size: 14px;
}


/* =========================
   MOOD CARDS
========================= */

.mood-container {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 30px;
}


.mood-card {

    border-radius: 15px;

    overflow: hidden;

    box-shadow:
        0 5px 20px rgba(0, 0, 0, 0.06);

    transition: 0.2s;
    height:200px;
    width: 200px;
    text-align: center;
    
    display: flex;
    flex-direction: column;
}

.mood-card.happy{
    background: linear-gradient(135deg, #FFD166, #FF9F1C);
}

.mood-card.sad {
    background: linear-gradient(135deg, #A8C8FF, #8E9FE6);
}

.mood-card:hover {
    transform: translateY(-5px);

    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.1);
}

.mood-card h2 {
    margin-top: 20px ;
}

.mood-card button {
    margin-top: 100px;
    width: 120px;
    height: 30px;
    align-self: center;
    color: #555;
    border-radius: 20px;
}

.mood-card button:hover {
    color: white;
    background: #555
}

/* # -> for id, . -> for class */
#logout {
    cursor: pointer;
}

#logout:hover {
    color:red; 
    text-decoration: underline
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {

    .navbar {
        padding: 0 25px;
    }

    .nav-menu {
        gap: 15px;
    }

    .search-box {
        width: 150px;
    }

    .song-container {
        grid-template-columns:
            repeat(2, 1fr);
    }

}


@media (max-width: 600px) {

    .navbar {
        padding: 0 15px;
    }

    .nav-menu a {
        display: none;
    }

    .profile span {
        display: none;
    }

    .search-box {
        width: 140px;
    }

    .container {
        padding: 0 15px;
    }

    .song-container {
        grid-template-columns: 1fr;
    }

    .detail-content {
        flex-direction: column;
    }

    .detail-cover {
        width: 220px;
        height: 220px;
    }

    .detail-info h2 {
        font-size: 28px;
    }

}

