<nav class="navbar">

    <div class="logo">
        Moodify
    </div>

    <div class="nav-menu">

        <a href="home.html" class="active">
            Home
        </a>

        <!-- <a href="recommendation.html">
            Recommendation
        </a> -->

        <a href="favorit.html">
            Favorit
        </a>

        <div class="search-box">
            🔍

            <input
                type="text"
                placeholder="Search song..."
            >
        </div>

        <div class="profile">
            👤
            <span id="logout">
                Log out
            </span>
        </div>

    </div>

</nav>